html {
  font-family: sans-serif;
}

.circle {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: rgb(235, 207, 51);
  position: relative;
  margin: 0.6rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.text {
  text-align: center;
  margin: 5px;
  font-size: 14px;
}

.image {
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 50%;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.button-wrapper {
  text-align: center;
}

.button {
  margin: 2rem 0.4rem;
  color: #ffffff;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.5s ease;
  background-color: #2e81d4;
}

.button:hover {
  background-color: #042c55;
}

.bubbles-wrapper {
  display: flex;
}

.bubbles-group {
  display: flex;
  margin: 1rem auto;
}
